<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="dbConnectionString" connectionString="Server=HDCSSQL36INST02.CGX.NET\\INST02;Integrated Security=SSPI;DATABASE=JNLSuperFulfillment;connect timeout=30;"/>
  </connectionStrings>
</configuration>